{%  for linkagg in eos_mlag_config_linkaggs %}
{%      for link in linkagg.members %}
interface Ethernet {{ link }}
    channel-group {{ linkagg.group }} mode {{ linkagg.mode | default('active') }}
    exit
{%      endfor %}

interface Port-Channel{{ linkagg.group }}
    mlag {{ linkagg.mlag }}
    exit
{% endfor %}