! ------------------- VRF -------------------------
! Control Plane VRF
vrf definition {{ mlag_setup.vrf }}
    description MLAG_CONTROL_PLANE
    rd {{ mlag_setup.site }}:{{ mlag_setup.domain }}
    exit

! ------------------- LINKAGG ----------------------
! Peering Port-Channel 
interface Port-Channel{{ mlag_setup.linkagg }}
    switchport
    switchport mode trunk
    switchport trunk group mlagpeer
    switchport trunk allowed vlan {{ mlag_setup.vlans | join(',') }}
    no shutdown
    exit

! -------------------- VLAN ----------------------
! Peering VLAN
vlan {{ mlag_setup.vlan }}
    trunk group mlagpeer
    exit

no spanning-tree vlan {{ mlag_setup.vlan }}

interface Vlan{{ mlag_setup.vlan }}
    ip address {{ mlag_setup.ipv4 }}
    no autostate
    exit

! -------------------- MLAG ----------------------
! MLAG Configuration
mlag configuration
    local-interface Vlan{{ mlag_setup.vlan }}
    peer-address {{ hostvars[mlag_setup.peer].mlag_setup.ipv4.split('/')[0] }}
    peer-link port-channel {{ mlag_setup.linkagg }}
    domain-id {{ mlag_setup.domain }}
    heartbeat-interval {{ mlag_setup.heartbeat }}
    reload-delay {{ mlag_setup.reload_delay }}
    exit
